extends templates/layout

block content
    section 
        .item
            p lorem ipsum
            img(src="./img/1.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/2.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/3.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/4.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/5.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/6.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/7.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/8.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/9.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/10.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/11.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/12.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/13.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/14.jpg", alt="", srcset="")
        .item
            p lorem ipsum
            img(src="./img/15.jpg", alt="", srcset="")