@import "./reset";
@import "./variables";
@import "./mixins";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header {
        @include footerAndHeader;

        .title {
            margin-left: 5%;
        }

        nav {
            span {
            }
        }

        ul {
            margin-right: 5%;
        }
    }

    footer {
        @include footerAndHeader;
    }

    section {
        width: 87%;
        column-count: 1;
        column-gap: none;

        @media screen and (min-width: 600px) {
            column-count: 2;
        }
        @media screen and (min-width: 900px) {
            column-count: 3;
        }
        @media screen and (min-width: 1200px) {
            column-count: 4;
        }
        @media screen and (min-width: 1700px) {
            column-count: 5;
        }

        .item {
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-family: "Times New Roman", Times, serif;
                font-size: 30px;
                font-weight: 400;
            }
        }
    }
}
