@import "./reset";
@import "./variables";
@import "./mixins";

span {
    background-color: $black;
    color: white;
}

h1 {
    color: red;
}

section {
    column-count: 1;
    column-gap: none;
}
